body {
  background-color: lightcoral;
}
h1 {
  color: #000000;
  font-family: 'Bodoni 72', 'Times New Roman', Times, serif;
  font-size: 92px;
  text-align: center;
}
p {
  font-family: 'Bodoni 72', 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
ul {
  width: 100%;
  font-family: 'Bodoni 72', 'Times New Roman', Times, serif;
  font-size: 26px;
  text-align: center;
  list-style: inside;
  list-style-type: none;
}